* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	justify-content: center;
	padding: 2rem;
	max-width: 1600px;
	margin: 0 auto;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #f0fdfa;
	/* background-color: #242424; */
	color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	min-width: 320px;
	min-height: 100vh;
	/* background-image: url('https://ik.imagekit.io/137/rportfolio/IMG_20250926_114335_367.jpg?updatedAt=1758901557060');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; */
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

input,
textarea,
select {
	font: inherit;
	border: none;
	outline: none;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}
